beautifulsoup4==4.11.1
opencv-python==4.5.5.64
numpy==1.22.3
pandas==1.4.2
requests==2.22.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
Pillow==9.1.0
streamlit==1.9.0